<nav class="fixed bottom-0 inset-x-0 z-40 bg-white border-t lg:hidden">
    <div class="grid grid-cols-5 text-xs">
        <a routerLink="/overview" routerLinkActive="text-primary" class="flex flex-col items-center gap-1 py-2">
            <img src="images/layout-dashboard.png" class="h-5" />
            Overview
        </a>

        <a routerLink="/categories" routerLinkActive="text-primary" class="flex flex-col items-center gap-1 py-2">
            <img src="images/clipboard-list.png" class="h-5" />
            Categories
        </a>

        <a routerLink="/occasions" routerLinkActive="text-primary" class="flex flex-col items-center gap-1 py-2">
            <img src="images/calendar-heart.png" class="h-5" />
            Occasions
        </a>

        <a routerLink="/products" routerLinkActive="text-primary" class="flex flex-col items-center gap-1 py-2">
            <img src="images/package.png" class="h-5" />
            Products
        </a>
        <a routerLink="/admins" routerLinkActive="text-primary" class="flex flex-col items-center gap-1 py-2">
            <img src="images/user.png" class="h-5" />
            Admins
        </a>
    </div>
</nav>