<app-auth-layout>

    <h2 class="text-2xl font-semibold text-primary mb-8">
        Forgot password?
        <span class="block text-sm font-normal text-gray-500 mt-2">
            Worry not, we’ll send you instructions to help you reset it.
        </span>
    </h2>

    <!-- Error -->
    @if (error$ | async; as error) {
    <div class="mb-4 rounded bg-red-50 text-red-600 px-4 py-2 text-sm">
        {{ error.message }}
    </div>
    }

    <!-- ✅ Dynamic Auth Form -->
    <app-auth-form [form]="form" [config]="config"></app-auth-form>


    <!-- Submit -->
    <button type="button" class="w-full bg-primary text-white py-2 rounded-lg hover:opacity-90 transition mt-5"
        (click)="submit()" [disabled]="loading$ | async">
        @if (loading$ | async) {
        Sending...
        } @else {
        Send reset code
        }
    </button>

    <!-- Footer -->
    <div class="mt-8 text-sm">
        Back to
        <span [routerLink]="['/auth/login']" class="text-primary cursor-pointer">Login!</span>
    </div>

</app-auth-layout>