<div class="border-b bg-white lg:hidden">
    <div class="flex items-center gap-3 px-4 py-3">
        <img src="images/logo.png" width="50" alt="">
        <!-- Breadcrumb -->
        <div class="flex-1 truncate">
            <app-breadcrumb />
        </div>

        <!-- Avatar -->
        <button type="button" class="rounded-full focus:outline-none" (click)="avatarClick.emit()"
            aria-label="Open profile menu">
            <img src="images/Avatar.png" class="h-8 w-8 rounded-full" alt="Avatar" />
        </button>
    </div>
</div>